.message{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    .container{
        width: 1200px;
        margin: 50px;
        
        .breadcrumbs{
            font-weight: 300;
            font-size: 13px;
            color: #555;

        }
        .messages{
            margin: 30px 0px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 500px;
            overflow: scroll;
           
            .item{
                display: flex;
                gap: 20px;
                max-width: 600px;
                font-size: 18px;

                &.owner{
                    flex-direction: row-reverse;
                    align-self: flex-end;

                    p{
                        border-radius: 20px 0px 20px 20px;
                        background-color: royalblue;
                        color: white;
                        display: flex;
                        max-width: 500px;
                        
                    }
                }

                p{
                    padding: 20px;
                    background-color: lightgray;
                    border-radius: 0px 20px 20px 20px;
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .write{
            display: flex;
            align-items: center;
            justify-content: space-between;

            textarea{
                width: 80%;
                height: 100px;
                padding: 10px;
                border: 1px solid lightgray;
                border-radius: 10px;
            }
        }

    }
}